.content__skils
	h4.content__skils__attribute Практические навыки
	.content__skils__text.clearfix
		span *
		p Отметьте только те технологии и типы задач,
			| которыми вы хорошо знакомы. Отсутсвие опыта отнюдь
			| означает, что у вас меньше шансов стать нашим
			| сотрудником. Это означает, что вы будете получать те
			| задачи, с которыми гарантировано будете справляться.
	include content__skils__checkbox
