.content__slider.clearfix
	h4.content__slider__attribute Уровень владения JavaScript
	#slider
	p.content__slider__attribute__easy Не владею
	p.content__slider__attribute__medium Использую готовые решения
	p.content__slider__attribute__hard.content__slider__atribute__hard-margin 
		| Использую готовые решения
		br
		| и умею их переделывать
	p.content__slider__attribute__expert Пишу сложные скрипты