.content__htmlacademy.clearfix
	h4.content__htmlacademy__attribute
		| Выпускник 
		a(href='https://htmlacademy.ru/' target="_blank") htmlacademy.ru
	input(id='rsecond' type='radio' name='radio')
	label(class='content__htmlacademy__radio' for='rsecond')
		span
		| Да
	input(id='rthird' type='radio' name='radio' checked)
	label(for='rthird' class='content__htmlacademy__radio content__htmlacademy__radio-margin')
		span
		| Нет